/* -------------------------------------------

Name: 		Aquarelle
Version:    1.0
Developer:	Nazar Miller (millerDigitalDesign)
Portfolio:  https://themeforest.net/user/millerdigitaldesign/portfolio?ref=MillerDigitalDesign

p.s. I am available for Freelance hire (UI design, web development). email: miller.themes@gmail.com

------------------------------------------- */

/*--------------------------------------------

1. common
    - main
    - typography
    - badge
    - pagination
    - breadcrumbs
    - button
    - link
    - spaces
2. components
    - preloader
    - scrollbar
    - top panel
    - menu button
    - banner
    - banner images
    - search
    - services
    - features
    - rooms
    - reviews
    - illustrations
    - about
    - popup
    - counter up
    - signature
    - contact
    - room slider
    - filter
    - publication
    - comments
    - faq
    - footer
3. custom
    - datepicker

--------------------------------------------*/

@import 'variables';
@import 'common';
@import 'components';
@import 'custom';
